body {
	font-family: Verdana, sans-serif;
	color: #a6a6d8;
}

.container {
	width: 1040px;
	margin: 0 auto;
}

h2 {
	color: #545454;
	text-align: center;
}

.profile {
	width: 950px;
}

.profile-form {
	padding: 15px;
	display: grid;
	grid-template-columns: 284px 301px 301px;
	gap: 15px;
}
.photo {
	grid-area: photo;
}
.name {
	grid-area: name;
}
.breed {
	grid-area: breed;
}
.place {
	grid-area: place;
}
.about {
	grid-area: about;
}
.food {
	grid-area: food;
}
.checkbox-1 {
	grid-area: checkbox-1;
}
.checkbox-2 {
	grid-area: checkbox-2;
}
.checkbox-3 {
	grid-area: checkbox-3;
}
.checkbox-4 {
	grid-area: checkbox-4;
}
.submit {
	grid-area: submit;
}
