body {
	font-family: Verdana, sans-serif;
	color: #a6a6d8;
}

.container {
	width: 1040px;
	margin: 0 auto;
}

h2 {
	color: #545454;
	text-align: center;
}

.profile {
	width: 950px;
}

.profile-form {
	padding: 15px;
	display: grid;
	grid-template-columns: 284px 150px 150px 150px 150px;
	grid-template-areas:
		"photo name name name name"
		"photo breed breed place place"
		"photo about about about about"
		"photo food food food food"
		"photo checkbox-1 checkbox-2 checkbox-3 checkbox-4"
		"photo submit submit submit submit";
	gap: 15px;
}
.photo {
	grid-area: photo;
	background: #eeeeff;
	border: 1px solid #a9a9a9;
	box-sizing: border-box;
	border-radius: 20px;
	text-align: center;
	padding-top: 173px;
}
.input {
	width: 301px;
	height: 40px;
	border: 1px solid #858585;
	box-sizing: border-box;
}
#name {
	width: 633px;
}
.name {
	grid-area: name;
}
.breed {
	grid-area: breed;
}
.place {
	grid-area: place;
}
#about {
	width: 633px;
	height: 82px;
}
.about {
	grid-area: about;
}
.food {
	grid-area: food;
}
.checkbox-1 {
	grid-area: checkbox-1;
}
.checkbox-2 {
	grid-area: checkbox-2;
}
.checkbox-3 {
	grid-area: checkbox-3;
}
.checkbox-4 {
	grid-area: checkbox-4;
}
.submit-btn {
	grid-area: submit;
	width: 200px;
	height: 30px;
	background-color: #eeeeff;
	border: 1px solid #a6a6d8;
	box-sizing: border-box;
	border-radius: 10px;
	color: #545454;
	padding: auto auto;
}
